*, *::before, *::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.07);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.3);
}

body {
    overflow-y: scroll;
    background: #314253;
}

a {
    color: inherit;
    font-weight: bold;
    text-transform: underline;
}

button {
    all: unset;
    padding: 0 8px;
    height: 36px;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    user-select: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    transition: background 80ms;
    box-sizing: border-box;
}

button:hover {
    background: rgba(0, 0, 0, 0.05);
}

button:active {
    background: rgba(0, 0, 0, 0.1);
}

button[disabled] {
    opacity: 0.5;
    cursor: default;
}

.card {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.07);
    padding: 8px;
    margin: 8px;
    border-radius: 3px;
}

.card-title {
    font-weight: 500;
}

.card-body {
    font-size: 14px;
    opacity: 0.8;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

td, th {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px;
}

td:last-child, th:last-child {
    border-right: none;
}

th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

td {
    text-align: right;
}

.input, select {
    border: 0;
    display: block;
    width: 100%;
    height: 36px;
    padding: 8px;
    background: rgba(0, 0, 0, 0.07);
    border-radius: 2px;
}

label {
    display: block;
    margin-bottom: 8px;
    opacity: 0.8;
    user-select: none;
}